data/
.env
__pycache__/
hey.xlsx
mmrag_evaluation_results2.xlsx
trial.xlsx
chest_xray_test_queries_p.xlsx
pathology_detection/evaluation/results/
pathology_detection/logs/
pathology_detection/weights/

